USE [WAKE_DB]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 13/09/2023 15:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NULL,
	[valor] [decimal](5, 2) NULL,
	[estoque] [int] NULL,
 CONSTRAINT [PK_PRODUTO_ID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [CK_PRODUTO_VALOR] CHECK  (([valor]>(0)))
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [CK_PRODUTO_VALOR]
GO
